<% @posts.each do |post| %>
    <h3><strong>Tittle : </strong><%= post.title %></h3>
    <h3><strong>Author : </strong><%= post.author %></h3>
    <h3><strong>Description : </strong><%= post.body %></h3>
    <br/>
<% end %>